@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';
body {
    background-color: #f4f4f4; //overflow-y: hidden;
}

img {
    max-width: 100%;
}

.browser_detect {
    padding: 15px;
    font-family: lato;
    font-size: 12px;
    margin-top: 2em;
}


/****** ALL ctaS Navigation *******/

.header_collection_body {
    height: calc(100vh - 200px);
    z-index: -1;
}

.header_collection_body h1 {
    font-family: agency fb;
    font-weight: bold;
    font-size: 45px;
}

.header_collection_list a.active {
    background-color: $cta_block_color;
    color: #fff;
}

.header_collection_list a {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-top: 1px solid #ccc;
}


/****** ALL ctaS Navigation *******/


/****** cta COMMON ITEMS *******/

.logo {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700; //letter-spacing: 1px;
    word-spacing: 2px;
}

.cta_h2 {
    font-family: "roboto slab";
    letter-spacing: -2px;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: .75em;
    word-spacing: 4px;
    @include media-breakpoint-between(md, lg) {
        font-size: 2.25em;
        margin-bottom: .75em;
    }
    @include media-breakpoint-down(md) {
        font-size: 2em;
    }
}

.cta_div_h2{
    font-family: roboto;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 1em;
    line-height: 1.5em;
    @include media-breakpoint-between(md, lg) {
        font-size: 2em;
        margin-bottom: 1em;
    }
    @include media-breakpoint-down(md) {
        font-size: 1.5em;
    }
}

.cta_p {
    margin-bottom: 2.5em;
    font-size: 20px;
    color: #666;
    font-weight: 300;
    @include media-breakpoint-between(md, lg) {
        font-size: 16px;
    }
    @include media-breakpoint-down(md) {
        font-size: 15px;
    }
    @include media-breakpoint-down(xs) {
        text-align: center;
    }
}

.cta_button {
    padding: 12px 30px;
    background: #2196f3;
    border: none;
    outline: none !important;
    color: #fff;
    font-family: lato;
    margin-right: 10px;
    cursor: pointer; //text-transform: uppercase;
    @include media-breakpoint-between(md, lg) {
        padding: 10px 20px;
        font-size: 14px;
    }
    @include media-breakpoint-down(md) {
        padding: 10px 20px;
        font-size: 14px;
    }
}



/****** START of cta 1 *******/

#cta_1 {
    background-color: #fff; //min-height: 75vh;
    padding-top: 2em;
    @include media-breakpoint-down(sm) {
        padding-bottom: 2em;
    }
    .logo_container {
        margin-bottom: 2em;
        @include media-breakpoint-down(md) {
            margin-bottom: 3em;
        }
    }
    .cta_top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
        @include media-breakpoint-down(md) {
            padding-left: 1em;
            min-height: 0px;
        }
        @include media-breakpoint-between(md, lg) {
            min-height: 0px;
        }
    }
    .cta_bottom {
        text-align: center;
        img {
            width: 300px;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 2em;
        }
    }

    .cta_h2 {
        font-family: roboto;
        font-size: 2.25em;
        margin-bottom: 1.5em;
    }

    .cta_button {
        padding: 10px 20px;
        font-size: 14px;
        margin: 0 10px;
        display: inline-flex;
        align-items: center;
        i{
            margin-right: 10px;
            font-size: 2em;
        }
    }
}


/****** END of cta 1 *******/


/******  cta 2 *******/
#cta_2{
    background-color: #fff;
    padding: 4em 0;
    min-height: 30vh;
    text-align: center;
}
/******  cta 2 *******/

/******  cta 3 *******/
#cta_3{
    background-color: #fff;
    padding: 4em 0;
    min-height: 30vh;
    text-align: center;
}
/******  cta 3 *******/

/******  cta 4 *******/
#cta_4{
    background-color: #fff;
    padding: 4em 0;
    min-height: 30vh;
    text-align: center;
    .logos_div{
        margin-top: 4em;
        img{
            width: 150px;
            margin: 0em 2em;
            filter: grayscale(100%);
            opacity: 0.3;
        }
    }
    .trusted_by{
        font-family: lato;
        font-size: 14px;
    }
}
/******  cta 4 *******/

/******  cta 5 *******/
#cta_5{
    background-color: #fff;
    padding: 4em 0;
    min-height: 30vh;
    text-align: center;
    .logos_div{
        margin-top: 4em;
        img{
            width: 150px;
            margin: 0em 2em;
            filter: grayscale(100%);
            opacity: 0.3;
        }
    }
    .trusted_by{
        font-family: lato;
        font-size: 14px;
    }
}
/******  cta 5 *******/

/******  cta 6 *******/
#cta_6{
    background-color: #fff;
    padding: 4em 0;
    min-height: 30vh;
    text-align: center;
    .logos_div{
        margin-top: 4em;
        img{
            width: 150px;
            margin: 0em 2em;
            filter: grayscale(100%);
            opacity: 0.3;
        }
    }
    .trusted_by{
        font-family: lato;
        font-size: 14px;
    }
    .cta_div{
        background-color: #f7f7f7;
        padding: 3em 0;
    }
}
/******  cta 6 *******/


/******  cta 7 *******/
#cta_7{
    background-color: #fff;
    padding: 4em 0;
    min-height: 30vh;
    text-align: center;
    .cta_p{
        width: 75%;
        margin: 0 auto 2.5em;
        font-size: 18px;
    }
    .cta_div_h2{
        font-size: 1.75em;
    }
    .option_check{
        font-size: 3em;
        margin-bottom: 1em;
        @include media-breakpoint-down(sm){
            font-size: 2em;
        }
    }
    .cta_split_div{
        margin-bottom: 5em;
    }

    .cta_h2{
        margin-bottom: 2em;
    }
}
/******  cta 7 *******/