@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';
body {
    background-color: #f4f4f4; //overflow-y: hidden;
}

img {
    max-width: 100%;
}

.browser_detect {
    padding: 15px;
    font-family: lato;
    font-size: 12px;
    margin-top: 2em;
}


/****** ALL LANDINGS Navigation *******/

.header_collection_body {
    height: calc(100vh - 200px);
    z-index: -1;
}

.header_collection_body h1 {
    font-family: agency fb;
    font-weight: bold;
    font-size: 45px;
}

.header_collection_list a.active {
    background-color: $content_block_color;
    color: #fff;
}

.header_collection_list a {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-top: 1px solid #ccc;
}


/****** ALL LANDINGS Navigation *******/

.content_h2 {
    font-family: "roboto slab";
    letter-spacing: -2px;
    font-size: 2.25em;
    font-weight: 300;
    margin-bottom: .75em;
    word-spacing: 4px;
    @include media-breakpoint-between(md, lg) {
        font-size: 2.25em;
        margin-bottom: .75em;
    }
    @include media-breakpoint-down(md) {
        font-size: 1.5em;
    }
}

.content_p {
    font-size: 15px;
    font-family: roboto;
    line-height: 1.75em;
    font-weight: 300;
}

.content_button {
    padding: 14px 26px;
    font-size: 14px;
    background: #2196f3;
    border: none;
    outline: none !important;
    color: #fff;
    font-family: montserrat;
    margin-right: 10px;
    cursor: pointer; //text-transform: uppercase;
    @include media-breakpoint-between(md, lg) {
        padding: 8px 16px;
        font-size: 14px;
    }
    @include media-breakpoint-down(md) {
        padding: 8px 16px;
        font-size: 12px;
    }
    display: inline-block;
    margin: 2em auto 0em;
}
.content_logo {
    font-family: montserrat;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700; //letter-spacing: 1px;
    word-spacing: 2px;
}

/***** Contents 1 *****/

#contents_1 {
    background-color: #fff;
    min-height: 30vh;
    padding: 5em 0em;
    .stars_div {
        margin: 4em 0;
        i {
            font-size: 1.5em;
            margin-right: 15px;
        }
    }
    p {
        text-align: center;
        margin-bottom: 0px;
        &.intro_p {
            font-size: 14px;
        }
        &.content_p {
            font-size: 14px;
            font-family: "roboto slab";
            line-height: 1.75em;
            width: 70%;
        }
    }
}


/***** End of Contents 1 *****/


/***** Contents 2 *****/

#contents_2 {
    background-color: #fff;
    min-height: 30vh;
    padding: 5em 15px;
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1em;
    }
    .content_p {
        width: 75%;
        @include media-breakpoint-down(xs){
            width: 100%;
        }
    }
    .video_div {
        height: 350px;
        background-color: #999;
    }
}


/***** End of Contents 2 *****/


/***** Contents 3 *****/

#contents_3 {
    background-color: #fff;
    min-height: 30vh;
    padding: 5em 15px;
    .content_h2{
        text-align: center;
    }
    .item_div_container{
        .item_div{
            text-align: center;
            padding: 2em 2em;
            @include media-breakpoint-down(lg) {
                padding: 2em 1em;
            }
            @include media-breakpoint-down(md) {
                padding: 1em 1em;
            }
            .item_div_body{
                border: 1px solid #ccc;
                padding: 4em 0em;
                border-radius: 4px;
            }
            .item_title{
                font-family: "roboto slab";
                font-size: 20px;
            }
            .item_content{
                font-size: 14px;
                width: 70%;
                margin: 1em auto 2em;
                font-family: roboto;
                font-weight: 300;
            }
            .item_more{
                font-size: 12px;
                text-decoration: none;
                i{
                    font-size: 10px;
                    margin-left: 1em;
                }
            }
        }
    }
}


/***** End of Contents 3 *****/

/***** Contents 4 *****/

#contents_4 {
    background-color: #fff;
    min-height: 30vh;
    padding: 5em 15px;
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
    }
    .content_h2{
        text-align: right;
    }
    .content_p {
        width: 75%;
        font-size: 16px;
        margin-left: auto;
        text-align: right;
        @include media-breakpoint-down(xs){
            width: 100%;
        }
        &.works_with_p{
            margin-top: 2em;
            margin-bottom: 2em;
            font-family: lato;
        }
    }
    .works_with_div {
        text-align: right;
        i{
            margin-left: 15px;
            color: #999;
            font-size: 1.3em;
        }
    }
    .video_div {
        height: 350px;
        background-color: #999;
    }
}

/***** End of Contents 4 *****/


/***** Contents 5 *****/
#contents_5{
    background:url(../images/macbook_bg.jpg) no-repeat;
    //min-height: 75vh;
    padding: 5em 15px;
    background-size: cover;
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        padding: 6em 2em;
        text-align: center;
    }
    .content_p {
        width: 90%;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-down(xs){
            width: 100%;
        }
        &.works_with_p{
            margin-top: 2em;
            margin-bottom: 2em;
            font-family: lato;
        }
    }
    .works_with_div {
        i{
            margin-left: 15px;
            color: #999;
            font-size: 1.3em;
        }
    }
}
/***** End of Contents 5 *****/


/***** Contents 6 *****/
#contents_6{
    background:#fff;
    min-height: 50vh;
    padding: 5em 15px;
    background-size: cover;
    .content_logo {
        margin-bottom: 5em;
        font-size: 16px;
    }
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fff;
        text-align: center;
    }
    .content_p {
        width: 60%;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        @include media-breakpoint-down(xs){
            width: 100%;
        }
        &.works_with_p{
            margin-top: 2em;
            margin-bottom: 2em;
            font-family: lato;
        }
    }
    .works_with_div {
        i{
            margin-left: 15px;
            color: #999;
            font-size: 1.3em;
        }
    }
}
/***** End of Contents 6 *****/

/***** Contents 7 *****/

#contents_7 {
    background-color: #fff;
    min-height: 30vh;
    padding: 5em 15px;
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
        padding-left: 5em;
        @include media-breakpoint-down(lg){
            padding-left: 2em;
        }
        @include media-breakpoint-down(md){
            padding-left: 0em;
            margin-top: 2em;
        }
    
    }
    .content_p {
        width: 75%;
        font-size: 16px;
        @include media-breakpoint-down(xs){
            width: 100%;
        }
        @include media-breakpoint-between(lg, xl){
            width: 100%;
        }
    }
    .video_div {
        height: 500px;
        background-color: #999;
        @include media-breakpoint-down(sm){
            height: 350px;
        }
    }
    .features_container {
        margin-top:2em;
        .features_div {
            width: 75%;
            margin-bottom: 20px;
            @include media-breakpoint-between(md, lg){
                width: 100%;
            }
            .feature_check {
                font-size: 1.75em;
                padding: 0px 15px 0px 0px;
                i{
                    display: block;
                }
            }
            .feature_content {
                h4{
                    font-family: "roboto slab";
                    font-size: 17px;
                }
                p{
                    font-size: 14px;
                    font-family: roboto;
                    font-weight: 300;
                }
            }
        }
    }
}

/***** End of Contents 7 *****/

/***** Contents 8 *****/

#contents_8 {
    background-color: #fff;
    min-height: 30vh;
    padding: 0em 0px;
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1em;
        padding: 4em;
    }
    .content_h2{
        text-align: center;
    }
    .content_p {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        @include media-breakpoint-down(md){
            width: 100%;
        }
        &.works_with_p{
            margin-top: 4em;
            margin-bottom: 1em;
            font-family: roboto;
        }
    }
    .works_with_div {
        i{
            margin-left: 15px;
            color: #999;
            font-size: 1.3em;
        }
        text-align: center;
    }
    .content_button{
        margin-top: 3em;
        font-family: "roboto slab";
    }
    .video_div {
        height: 75vh;
        background-color: #999;
        padding: 0px;
        @include media-breakpoint-down(sm){
            height: 350px;
        }
    }
}


/***** End of Contents 8 *****/

/***** Contents 9 *****/

#contents_9 {
    background-color: #fff;
    min-height: 30vh;
    padding: 0em 0px;
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        //margin-bottom: 1em;
        padding: 4em;
        border-right: 1px solid #ccc;
        height: 70vh;
        align-items: center;
        @include media-breakpoint-down(sm){
            height: auto;
            border-right: none;
            border-bottom: 1px solid #ccc;
        }
        &:last-child{
            border-right: none;
            @include media-breakpoint-down(sm){
                border-bottom: none;
            }
        }
        .image_div{
            width: 85px;
            margin-bottom: 4em;
        }
    }
    .content_h2{
        text-align: center;
        font-size: 1.5em;
    }
    .content_p {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        @include media-breakpoint-down(md){
            width: 100%;
        }
        &.works_with_p{
            margin-top: 4em;
            margin-bottom: 1em;
            font-family: roboto;
            font-size: 14px;
            i{
                font-size: 12px;
                margin: 0px 10px;
            }
        }
    }
}


/***** End of Contents 9 *****/


/***** Contents 10 *****/

#contents_10 {
    background-color: #fff;
    min-height: 30vh;
    padding: 0em 0px;
    .content_div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1em;
        padding: 4em;
    }
    .content_h2{
        text-align: center;
    }
    .content_p {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        @include media-breakpoint-down(md){
            width: 100%;
        }
        &.works_with_p{
            margin-top: 4em;
            margin-bottom: 1em;
            font-family: roboto;
            font-size: 14px;
            i{
                font-size: 12px;
                margin: 0px 10px;
            }
        }
    }
    .works_with_div {
        i{
            margin-left: 15px;
            color: #999;
            font-size: 1.3em;
        }
        text-align: center;
    }
    .content_button{
        margin-top: 3em;
        font-family: "roboto slab";
    }
    .video_div {
        height: 75vh;
        background-color: #999;
        padding: 0px;
        @include media-breakpoint-down(sm){
            height: 350px;
        }
    }
}


/***** End of Contents 10 *****/