@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';


body {
    background-color: #fff;
    //overflow-y: hidden;
}

img {
    max-width: 100%;
}
.browser_detect {
    padding: 15px;
    font-family: lato;
    font-size: 12px;
}


/****** ALL SECTIONS LANDING PAGE *******/
.index_main_row {
   // height: 100vh;
    .main_page_heading {
        @include media-breakpoint-only(xs) {
            font-size: 2em;
        }
    }
    &>div {
        margin: 5px 0px;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .heading {
        text-align: center;
        font-family: montserrat;
        margin-top: 3em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    .heading_border {
        width: 100px;
        margin: 1em auto 3em;
        height: 2px;
        background: #333;
    }
}


a:hover {
    text-decoration: none;
}

.template_element_container {
    height: 75px;
    background-color: $header_block_color;
    color: #fff;
    transition: all 0.5s ease;

    //border-radius: 4px;
    h2 {
        font-size: 15px;
        //font-family: Montserrat;
        //font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
    &.header:hover {
        
    }
    &.footer {
        background-color: $footer_block_color;
    }
    &.contact {
        background-color: $contact_block_color;
    }
    &.services {
        background-color: $services_block_color;
    }
    
    &.jumbotron_block {
        background-color: $jumbotron_block_color;
    }
    
    &.gallery_block {
        background-color: $gallery_block_color;
    }
    
    &.pricing_block {
        background-color: $pricing_block_color;
    }
    
    &.multi_form {
        background-color: $multi_form_color;
    }
    
    &.faq_block {
        background-color: $faq_block_color;
    }
    &.input_block {
        background-color: $input_block_color;
    }
    
    &.landing_block {
        background-color: $landing_block_color;
    }
    &.content_block {
        background-color: $content_block_color;
    }
    
    
    &:hover {
        background-color: #333;
    }
}
/****** ALL SECTIONS LANDING PAGE *******/