@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';
body {
    background-color: #f4f4f4; //overflow-y: hidden;
}

img {
    max-width: 100%;
}

.browser_detect {
    padding: 15px;
    font-family: lato;
    font-size: 12px;
    margin-top: 2em;
}


/****** ALL LANDINGS Navigation *******/

.header_collection_body {
    height: calc(100vh - 200px);
    z-index: -1;
}

.header_collection_body h1 {
    font-family: agency fb;
    font-weight: bold;
    font-size: 45px;
}

.header_collection_list a.active {
    background-color: $results_block_color;
    color: #fff;
}

.header_collection_list a {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-top: 1px solid #ccc;
}


/****** ALL LANDINGS Navigation *******/

/**** Basic styles ****/
.article_h2 {
    font-family: "roboto slab";
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 0em;
    line-height: 1.5em;
}

.blog_p {
    font-size: 15px;
    font-family: roboto;
    line-height: 1.75em;
    font-weight: 300;
}

.article_more {
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 0em;
    font-family: lato;
    i {
        font-size: 12px;
        margin: 0px 10px;
    }
}

.blog_button {
    padding: 14px 26px;
    font-size: 14px;
    background: #E91E63;
    border: none;
    outline: none !important;
    color: #fff;
    font-family: montserrat;
    margin-right: 10px;
    cursor: pointer; //text-transform: uppercase;
    @include media-breakpoint-between(md, lg) {
        padding: 8px 16px;
        font-size: 14px;
    }
    @include media-breakpoint-down(md) {
        padding: 8px 16px;
        font-size: 12px;
    }
    display: inline-block;
    margin: 2em auto 0em;
}
/**** Basic styles ****/

/**** Results 1  ****/
#results_1{
    background: #fff;
    min-height: 50vh;
    padding: 3em 1em;
    .article_container {
        //box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        padding: 2em;
    }
    .article_row{
        border-bottom: 1px solid #ccc;
        &:last-child{
            border: none;
        }
        .row {
            padding: 1em 0;
        }
    }
    .article_h2 {
        margin-bottom: 1em;
        color: #01a4b9;
    }
    .article_p{
        color: #777;
        font-family: lato;
        font-size: 14px;
    }
    .article_row__results_image{
        width: 100%;
        height: 175px;
        background-color: #f5f5f5;
        margin-bottom: 1em;
    }
    .article_row__results_content{

    }
    .article_author {
        color: #888;
        font-size: 14px;
        margin: 1em 0;
        display: flex;
        &>div{
            margin-right: 30px;
            font-size: 13px;
        }
    }
    .read_more{
        text-align: right;
        font-size: 14px;
        color: #01a4b9;
    }
}
/**** Results 1  ****/

/**** Results 2  ****/
#results_2{
    background: #fff;
    min-height: 50vh;
    padding: 3em 1em;
    .results_page_h2{
        font-family: "ubuntu";
        font-size: 2.25em;
        font-weight: 600;
        margin-bottom: 1.75em;
        word-spacing: 4px;
        @include media-breakpoint-between(md, lg) {
            font-size: 2.25em;
            margin-bottom: 1.5em;
        }
        @include media-breakpoint-down(md) {
            font-size: 2em;
            margin-bottom: 1.25em;
        }
    }
    .search_result_container{
        border-top: 1px solid #ccc;
        padding-top: 2em;
        .search_result{
            padding:2em 0;
            border-bottom: 1px solid #ccc;
            &:last-child{
                border-bottom: none;
            }
            &__image_div{
                width: 100%;
                height: 225px;
                background-color: #f4f4f4;
                margin-bottom: 15px;
            }
            .category{
                font-family: raleway;
                font-size: 14px;
            }
            .title{
                font-size: 1.6em;
                font-family: merriweather;
                margin: 15px 0;
            }
            .excerpt{
                font-family: raleway;
                margin: 20px 0;
            }
            &__details{
                padding-left: 15px;
                .post_details{
                    display: flex;
                    align-items: center;
                    .author_image{
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        background-color: #f4f4f4;
                        margin-right: 15px;
                    }
                    .author_name{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
/**** Results 2  ****/

/**** Results 3  ****/
#results_3{
    background: #fff;
    min-height: 50vh;
    padding: 3em 1em;
    .results_page_h2{
        font-family: "ubuntu";
        font-size: 1.75em;
        font-weight: 600;
        margin-bottom: 1.75em;
        word-spacing: 4px;
        color:#888;
        @include media-breakpoint-between(md, lg) {
            font-size: 2.25em;
            margin-bottom: 1.5em;
        }
        @include media-breakpoint-down(md) {
            font-size: 2em;
            margin-bottom: 1.25em;
        }
    }
    .search_result_container{
        border-top: 1px solid #ccc;
        padding-top: 2em;
        .search_result{
            padding:2em 0;
            border-bottom: 1px solid #ccc;
            &:last-child{
                border-bottom: none;
            }
            &__image_div{
                width: 100%;
                height: 175px;
                background-color: #f4f4f4;
                margin-bottom: 15px;
            }
            .title{
                font-size: 20px;
                font-family: roboto;
                font-weight: 600;
                margin: 0px;
                margin-bottom: 15px;
            }
            &__details{
                padding-left: 15px;
                .post_details{
                    display: flex;
                    align-items: center;
                    font-family: roboto;
                    font-weight: 400;
                    color: #999;
                    font-size: 15px;
                    &>div{
                        padding-right: 15px;
                        margin-right: 15px;
                        border-right: 1px solid #ccc;
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
            }
        }
    }
}
/**** Results 3  ****/

/**** Results 4  ****/
#results_4{
    background: #fff;
    min-height: 50vh;
    padding: 3em 1em;
    .results_page_h2{
        font-family: "ubuntu";
        font-size:1.75em;
        font-weight: 600;
        margin-bottom: 1.75em;
        word-spacing: 4px;
        @include media-breakpoint-between(md, lg) {
            font-size: 2.25em;
            margin-bottom: 1.5em;
        }
        @include media-breakpoint-down(md) {
            font-size: 2em;
            margin-bottom: 1.25em;
        }
    }
    .search_result_container{
        border-top: 1px solid #ccc;
        padding-top: 2em;
        .search_result{
            padding:2em 0;
            border-bottom: 1px solid #ccc;
            &:last-child{
                border-bottom: none;
            }
            &__image_div{
                width: 100%;
                height: 125px;
                background-color: #f4f4f4;
                margin-bottom: 15px;
            }
            .title{
                font-size: 22px;
                line-height: 28px;
                font-family: "ubuntu condensed";
                margin: 0px;
            }
            .excerpt{
                font-family: "open sans";
                font-size: 13px;
            }
            &__details{
                padding-left: 15px;
                .post_details{
                    display: flex;
                    align-items: center;
                    margin: 5px 0px 10px;
                    font-family: "open sans";
                    font-size: 11px;
                    .author_name{
                        margin-right: 15px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
/**** Results 4  ****/


/**** Results 5  ****/
#results_5{
    background: #fff;
    min-height: 50vh;
    padding: 3em 1em;
    .results_page_h2{
        font-family: "ubuntu";
        font-size:1.75em;
        font-weight: 600;
        margin-bottom: 1.75em;
        word-spacing: 4px;
        @include media-breakpoint-between(md, lg) {
            font-size: 2.25em;
            margin-bottom: 1.5em;
        }
        @include media-breakpoint-down(md) {
            font-size: 2em;
            margin-bottom: 1.25em;
        }
    }
    .search_result_container{
        border-top: 1px solid #ccc;
        padding-top: 2em;
        .search_result{
            padding:2em 0;
            border-bottom: 1px solid #ccc;
            &:last-child{
                border-bottom: none;
            }
            &__image_div{
                width: 100%;
                height: 175px;
                background-color: #f4f4f4;
                margin-bottom: 15px;
            }
            .category{
                font-family: "open sans condensed";
                font-size: 14px;
                text-transform: uppercase;
            }
            .title{
                font-size: 22px;
                line-height: 28px;
                font-family: "open sans condensed";
                margin: 0px;
            }
            .excerpt{
                font-family: "open sans";
                font-size: 13px;
            }
            &__details{
                padding-left: 15px;
                .post_details{
                    display: flex;
                    align-items: center;
                    margin: 10px 0px 10px;
                    font-family: lato;
                    font-size: 13px;
                    .author_name{
                        margin-right: 15px;

                    }
                }
            }
        }
    }
}
/**** Results 5  ****/