@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';
body {
    background-color: #eee; //overflow-y: hidden;
}

img {
    max-width: 100%;
}

.browser_detect {
    padding: 15px;
    font-family: lato;
    font-size: 12px;
    margin-top: 2em;
}


/****** ALL LANDINGS Navigation *******/

.header_collection_body {
    height: calc(100vh - 200px);
    z-index: -1;
}

.header_collection_body h1 {
    font-family: agency fb;
    font-weight: bold;
    font-size: 45px;
}

.header_collection_list a.active {
    background-color: $testimonial_block_color;
    color: #fff;
}

.header_collection_list a {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-top: 1px solid #ccc;
}


/****** ALL LANDINGS Navigation *******/

.testimonial_h2 {
    font-family: "roboto slab";
    letter-spacing: -2px;
    font-size: 2.25em;
    font-weight: 300;
    margin-bottom: 2em;
    word-spacing: 4px;
    text-align: center;
    @include media-breakpoint-between(md, lg) {
        font-size: 2.25em;
        margin-bottom: .75em;
    }
    @include media-breakpoint-down(md) {
        font-size: 1.5em;
    }
}

/**** Testimonial 1 ****/
#testimonial_1_container{ 
    background: #f8f8f8; 
    padding: 4em 0em;

    .testimonial{
        margin: 0 20px 40px;
    }
    .testimonial .testimonial-content{
        padding: 35px 25px 35px 50px;
        margin-bottom: 35px;
        background: #fff;
        border: 1px solid #f0f0f0;
        position: relative;
    }
    .testimonial .testimonial-content:after{
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #fff;
        position: absolute;
        bottom: -10px;
        left: 22px;
        transform: rotate(45deg);
    }
    .testimonial-content .testimonial-icon{
        width: 50px;
        height: 45px;
        background: #ff4242;
        text-align: center;
        font-size: 22px;
        color: #fff;
        line-height: 42px;
        position: absolute;
        top: 37px;
        left: -19px;
    }
    .testimonial-content .testimonial-icon:before{
        content: "";
        border-bottom: 16px solid #e41212;
        border-left: 18px solid transparent;
        position: absolute;
        top: -16px;
        left: 1px;
    }
    .testimonial .description{
        font-size: 15px;
        font-style: italic;
        color: #8a8a8a;
        line-height: 23px;
        margin: 0;
    }
    .testimonial .title{
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #525252;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin: 0 0 5px 0;
        font-family: montserrat;
    }
    .testimonial .post{
        display: block;
        font-size: 14px;
        color: #ff4242;
    }
    .owl-theme .owl-controls{
        margin-top: 20px;
    }
    .owl-theme .owl-controls .owl-page span{
        background: #ccc;
        opacity: 1;
        transition: all 0.4s ease 0s;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: #ff4242;
    }
}

/**** Testimonial 1 ****/


/**** Testimonial 2 ****/
#testimonial_2_container {
    background-color: #34495e;
    padding: 4em 0;
    .testimonial_h2{
        color: #fff;
        margin-bottom: 1.5em;
    }
    .testimonial{
        padding: 20px 0 0;
        text-align:center;
        position: relative;
        margin: 0 15px;
    }
    .testimonial:before{
        content: "\f10d";
        font-family: 'FontAwesome';
        position: absolute;
        top: -5px;
        left:48.5%;
        font-size: 40px;
        color:#fff;
    }
    .testimonial .content{
        padding: 45px 35px;
        font-weight: bold;
        text-transform:uppercase;
        color: #fff;
        position: relative;
        border: 3px solid #fff;
        border-top: 0px none;
    }
    .testimonial .content:before{
        content: "";
        border-top: 3px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
    }
    .testimonial .content:after{
        content: "";
        border-top: 3px solid #fff;
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
    }
    .testimonial .testimonial-title{
        font-size: 16px;
        font-weight:bold;
        text-align:center;
        text-transform:uppercase;
        color:#e74c3c;
    }
    .testimonial .testimonial-title small{
        display: block;
        color:#f5f5f5;
        font-size: 12px;
        margin-top:10px;
    }
    .testimonial .description{
        font-size: 25px;
    }
    .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: #e74c3c;
    }
    .owl-theme .owl-controls .owl-page span{
        background: #fff;
        opacity: 1;
    }
    @media only screen and (max-width: 990px) {
        .testimonial .content:before,
        .testimonial .content:after {
            width:43%;
        }
    }
    @media only screen and (max-width: 640px) {
        .testimonial:before{
            left:46%;
        }
        .testimonial .content{
            padding: 30px 35px;
        }
        .testimonial .description{
            font-size: 14px;
        }
    }
}
/**** Testimonial 2 ****/

/**** Testimonial 3 ****/
#testimonial_3_container{
    background-color: #fff;
    padding: 4em 0;
    .testimonial_h2{
        margin-bottom: 0px;
    }
    .owl-carousel{
        padding-top: 60px;
    }
    .testimonial{
        text-align: center;
    }
    .description{
        color:#8a9aad;
        font-size: 15px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .pic{
        position: relative;
    }
    .pic > img{
        border-radius: 50%;
        width: 145px;
    }
    .pic:before{
        content: "\f10d";
        font-family: 'FontAwesome';
        display: inline-block;
        position: absolute;
        top:10px;
        left:30%;
        color:#eee;
        font-size: 36px;
    }
    .pic:after{
        content: "\f10d";
        font-family: 'FontAwesome';
        display: inline-block;
        position: absolute;
        top:10px;
        right: 30%;
        color:#eee;
        font-size: 36px;
    }
    .testimonial-title{
        font-size: 13px;
        color:#8a9aad;
        text-transform: capitalize;
        margin-top: .5rem;
    }
    .testimonial-title > small{
        display: block;
        color:#8a9aad;
        font-size: 10px;
        text-transform: uppercase;
        margin-top: 5px;
    }
    .owl-buttons{
        position: absolute;
        top:13%;
        width: 100%;
    }
    .owl-prev{
        position: absolute;
        left:-14%;
    }
    .owl-next{
        position: absolute;
        right:-14%;
    }
    .owl-theme .owl-controls .owl-buttons div{
        background: transparent;
        opacity: 1;
    }
    .owl-theme .owl-controls .owl-buttons div{
        border-radius: 50%;
    }
    .owl-prev:after,
    .owl-next:after{
        font-family: 'FontAwesome';
        content: "\f053";
        width: 28px;
        height: 28px;
        font-size: 16px;
        color:#34495e;
        transition: all 0.15s ease 0s;
    }
    .owl-next:after{
        content: "\f054";
    }
    .owl-prev:hover:after,
    .owl-next:hover:after{
        color:#7a4b94;
    }
    .owl-pagination{
        padding-top: 45px;
    }
    .owl-theme .owl-controls .owl-page span{
        width: 9px;
        height: 9px;
        background: #c5c5c5;
        border: 3px solid #c5c5c5;
        margin-right: 20px;
        opacity: 1;
        transition: all 0.35s ease 0s;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: #fff;
        border: 3px solid #90969d;
        opacity: 1;
    }
    @media screen and (max-width: 767px){
        .owl-buttons{
            top:3%;
            left: 43%;
            width: 12%;
        }
        .pic:before{
            left:10%;
        }
        .pic:after{
            right: 10%;
        }
    }
    @media screen and (max-width: 480px){
        .owl-buttons{
            top:3%;
            left: 40%;
            width: 18%;
        }
        .pic:before{
            left:0;
        }
        .pic:after{
            right: 0;
        }
    }
}
/**** Testimonial 3 ****/

/**** Testimonial 4 ****/
#testimonial_4_container{
    background-color: #f3f4f6;
    padding: 4em 0;
    .testimonial{
        background: #fff;
        padding: 45px;
        text-align: left;
    }
    .testimonial > p{
        font-size: 19px;
        color:#93a0aa;
        font-weight: 300;
        line-height: 31px;
    }
    .testimonial-review{
        text-align: center;
        width: 300px;
        margin: 20px auto;
    }
    .testimonial-review > img{
        border-radius: 50%;
        float: left;
        margin-right: 15px;
        width: 80px;
    }
    .testimonial-title{
        text-align: left;
        padding-top: 15px;
        line-height: 18px;
        color:#000;
        text-transform: capitalize;
        font-size: 20px;
    }
    .testimonial-title small{
        display: block;
        font-style: italic;
        margin:10px 0;
        color:#93a0aa;
    }
    .owl-buttons{
        position: absolute;
        top:45%;
        width: 100%;
        opacity: 0;
    }
    .owl-prev{
        position: absolute;
        left:-3%;
    }
    .owl-next{
        position: absolute;
        right:-3%;
    }
    .owl-theme .owl-controls .owl-buttons div{
        background: #7a4b94;
        opacity: 1;
    }
    .owl-theme .owl-controls .owl-buttons div{
        border-radius: 50%;
    }
    .owl-prev:after,
    .owl-next:after{
        font-family: 'FontAwesome';
        content: "\f104";
        width: 28px;
        height: 28px;
        font-size: 14px;
    }
    .owl-next:after{
        content: "\f105";
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background:#dc005a;
    }
    .owl-carousel:hover .owl-buttons{
        opacity: 1;
    }
    @media screen and (max-width: 767px){
        .owl-prev{
            left:-2.5%;
        }
        .owl-next{
            right: -2.5%;
        }
    }
}
/**** Testimonial 4 ****/


/**** Testimonial 5 ****/
#testimonial_5_container{
    background-color: #2c3e50;
    padding: 4em 0;
    .testimonial_h2{
        color: #fff;
    }
    .testimonial{
        text-align: center;
    }
    .testimonial .pic{
        margin-bottom: 35px;
    }
    .testimonial .pic > img{
        border-radius: 50%;
        width: 100px;
    }
    .testimonial .testimonial-review{
        color:#fff;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 14px;
    }
    .testimonial-review > .testimonial-description{
        font-style: italic;
    }
    .testimonial .testimonial-title{
        color:#fff;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
        text-transform: capitalize;
    }
    .testimonial-title > small{
        color:#fff;
        font-style: normal;
        font-size: 14px;
        line-height: 22px;
    }
    .owl-theme .owl-controls .owl-page span{
        width: 9px;
        height: 9px;
        background: transparent;
        border: 1px solid #fff;
        margin: 5px;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: #fff;
    }
}
/**** Testimonial 5 ****/


/**** Testimonial 6 ****/
#testimonial_6_container{
    background-color: #fff;
    padding: 4em 0;
    .testimonial{
        margin: 10px 15px;
        padding: 0 0 20px 20px;
        position: relative;
    }
    .pic{
        position: absolute;
        bottom: 0;
        left: 0;
        background: #0c0c0c;
        width: 80px;
        height: 80px;
        padding: 10px;
        z-index: 2;
        border: 5px solid #6c6c6c;
    }
    .pic img{
        margin: 0 auto;
        text-align: center;
    }
    .testimonial-review{
        border: 5px solid #6c6c6c;
        font-size: 17.5px;
        margin: 0 0 20px;
        padding: 10px 20px;
    }
    .testimonial-review p{
        font-style: italic;
        font-weight: normal;
        line-height: 24px;
        padding: 9px 0 0 49px;
        color: #7c7c7c;
        font-size: 15px;
        position: relative;
    }
    .testimonial-review p:before{
        content: "\f10d";
        font-family: 'FontAwesome';
        position: absolute;
        left:0;
        top:10px;
        font-size: 30px;
    }
    .testimonial-title{
        padding: 0 0 0 48px;
        font-size: 15px;
        color:#7c7c7c;
    }
    .testimonial-title a{
        color:#dc005a;
        font-size: 15px;
    }
    .owl-theme .owl-controls{
        margin-top: 30px;
    }
    .owl-theme .owl-controls .owl-page span{
        background: #3e3e3e;
        display: block;
        height: 8px;
        margin: 5px 2.5px;
        width: 30px;
        border-radius: 0;
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: #dc005a;
    }
}
/**** Testimonial 6 ****/